/* GENERAL */

:root {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
::after,
::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(218, 23%, 16%);
  font-family: "Manrope", sans-serif;
  text-align: center;
}

/* MAIN */

.main {
  width: 550px;
  margin: 0 2rem;
  background: hsl(217, 19%, 24%);
  border-radius: 10px;
  padding: 4rem 2.8rem 7.2rem 2.8rem;
  position: relative;
  box-shadow: 0 0 30px rgb(50 58 73 / 20%);
  background-image: url(./pattern-divider-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom 60px right 50%;
}

.advice-number {
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  font-weight: 800;
}

.advice-text {
  margin: 2.8rem 0 3.6rem;
  font-size: 2.8rem;
  color: hsl(193, 38%, 86%);
}

.dice-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 1.6rem;
  background-color: hsl(150, 100%, 66%);
  border-radius: 50%;
  border-color: transparent;
}

.dice-button:hover {
  box-shadow: 0 0 30px hsl(150, 100%, 66%);
  cursor: pointer;
}

@media (max-width: 35rem) {
  .main {
    background-image: url("./pattern-divider-mobile.svg");
    background-size: 80%;
  }

  .advice-text {
    font-size: 2.4rem;
    background-size: 80%;
  }
}
